#wall .tag-1 {
    display: none;
}

div#wall #tag-2 {
    background: none;
   
}

 body div#wall > div#tag-3.slick {
    display: none;
}

div#wall #tag-4 {
    display: none;
}

 body div#wall div.parent > div#tag-5.slick {
     background: none;
     display: none;
 }

 body div#wall div.parent div:last-child > div#tag-6 {
     background: none;
     display: none;
 }

body div#wall div.parent div + div#tag-7.slick {
     display: none;
   }